#root {
  width: 100dvw;
  margin: 0;
  text-align: center;
  overflow-x: hidden;

  display: grid;
  grid-template-columns: repeat(12, calc(100dvw/12));
  grid-template-rows: 3rem auto 3rem
}

nav#header {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 1;
}

nav#header ul {
  display: flex;
  gap: 1em;
  flex-direction: row;
}

nav#header ul li {
  list-style-type: none;
}

nav#header {
  border-bottom: 1px solid white
}

nav#header ul li a.active {
  color: red
}

main, aside {
  grid-row-start: 2;
  grid-row-end: 2;
  height: calc(100dvh - 6rem)
}

aside {
  overflow-y: scroll;
}

main {
  overflow-y: scroll;
}

.colspan1 {grid-column: span 1}
.colspan2 {grid-column: span 2}
.colspan3 {grid-column: span 3}
.colspan4 {grid-column: span 4}
.colspan5 {grid-column: span 5}
.colspan6 {grid-column: span 6}
.colspan7 {grid-column: span 7}
.colspan8 {grid-column: span 8}
.colspan9 {grid-column: span 9}
.colspan10 {grid-column: span 10}
.colspan11 {grid-column: span 11}
.colspan12 {grid-column: span 12}

footer {
  display:flex;
  align-items: center;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 3;
  grid-row-end: 3;
  border-top: 1px solid white
}

#questionList ul li a {
  display:block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-align: left;
}